extends layout

block content
  div 
    h1= title
    p Welcome to the #{title}
  div(class='board') 
    ul 
      each val in messages 
        li(class='note')
          img(src="https://img.freepik.com/vector-premium/chincheta-roja-chincheta-redonda-metal-adjuntar-notas-documentos-fijados_176411-1055.jpg?w=2000", alt="Tachuela")
          div(class='message')= val.text  
          div(class='user-name')= val.user + ' · '+ val.added.toLocaleString().slice(0, 9)
  a(href="/new" class='button-index') New Note 
